---
layout: post 
title: Testing & Verification
hide: true
permalink: /testing-verification
show_reading_time: false
---

### Testing & Verification

> Click on the buttons below to learn about testing and verification


<div style="display: flex; flex-wrap: wrap; gap: 10px;">
    <a href="{{site.baseurl}}/gameplay_testing" style="text-decoration: none;">
        <div style="background-color: var(--green); color: black; padding: 10px 20px; border-radius: 5px; font-weight: bold; transition: transform 0.2s, box-shadow 0.2s;">
           Gameplay Testing
        </div>
    </a>
    <a href="{{site.baseurl}}/integration_testing" style="text-decoration: none;">
        <div style="background-color: var(--blue); color: white; padding: 10px 20px; border-radius: 5px; font-weight: bold; transition: transform 0.2s, box-shadow 0.2s;">
           Integration Testing
        </div>
    </a>
    <a href="{{site.baseurl}}/api_error_handling" style="text-decoration: none;">
        <div style="background-color: var(--warn); color: black; padding: 10px 20px; border-radius: 5px; font-weight: bold; transition: transform 0.2s, box-shadow 0.2s;">
            API Error Handling
        </div>
    </a>
</div>

<br>
